:host {
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
}

.header {
  background-color: var(--ds-layout-dark);
  padding: calc(5 * var(--ds-spacing));
  color: var(--ds-layout-bright);
}

.header__title {
  margin-bottom: calc(4 * var(--ds-spacing));
}

.header__description {
  margin-bottom: calc(2 * var(--ds-spacing));
}


.header__search {
  border-radius: 16px;
  border: none;
  padding: 8px;
  width: 280px;
}


.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: var(--ds-spacing);
}

.content__card {
  margin: var(--ds-spacing);
  width: 320px;
}